

.left .col-md-6{
    border: 2px solid #C8C7C9;
}

.right .col-md-6{

}

#paper{
    margin-top: 25px;
    margin-left: 150px;

}

#in1{margin-top: 70px; 
    margin-left: 160px;

}

.form_border{
    border: 2px solid #C8C7C9;
	position: relative;
    padding:6px;
    bottom: 30px;   
}

.form_border2{border: 2px solid #C8C7C9;
    position: relative; 
    top: -30px;
    padding:6px;
}

.input-group-addon{
padding: 6px 10px;
font-size: 14px;
font-weight: normal;
line-height: 1;
color: #555;
text-align: center;
background-color: #eee;
border: 1px solid #ccc;
border-radius: 4px;

}

body .form-control{
display: block;
width: 100%;
height: 60px;
padding: 6px 15px;
font-size: 18px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 2px solid #C8C7C9;
border-radius: 4px;
}


header{
color:blue;border-style: solid;
border-width: 1px;
font-size: 30px;

}

.text-right{
 float right;
}

.checkbox-inline{
margin-top: 0px;	
font-size: 18px;		
}


.input-lg{background-color: blue;
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
margin: 10px;
font-size: 18px;
}

#addcompany { 
    margin-bottom: 5px;
}

#removecompany {
    margin-bottom: 5px;
    
}

#ressmall { 
    margin-left:25px;
    height: 55px;
    width: 55px;
}    

#res { 
    width: 600px;
}  

#insmall{
    margin-left:25px;
    height: 46px;
    width: 46px;
}

#navlogo{
    height: 67px;
    width: 87px;
}

#search{ 
    color: purple; 
}

#fa-video-camera{
    color: red;
    margin: 30;
}


.input-group-addon{
}

.breadcrumb {
padding: 10px 15px;
margin-bottom: 0px;
list-style: none;
background-color: #f5f5f5;
border-radius: 4px;
border: 2px solid #C8C7C9;
text-align: center;

}

.camera_tag{
    border: 2px solid #C8C7C9;
    height: 320px;
    margin-top:25px; 
    background-color: #f5f5f5;
    margin-bottom: 65px;

}

.main-content {
    padding-top: 90px;
}

#ctagrec, #faup, #mobile {
    color: #3E8ACC;
    display: inline-block;
    width: 32.9%;
    text-align: center;
    margin: 20.3333% 0 0;
}

.vidroomicons {
    color: #3E8ACC;
    margin:15px;
    margin-bottom: 0px; 
}


/*///MEDIA QUERIES///*/




/* Social Media Icons
----------------------------------------------- */

.socialIcons i {
    margin: 0 30px;
    color:black;
}


a.socialIcons:hover {
    opacity: .8;
    filter:alpha(opacity=80);
}